.profile-image {
  height: 30px;
  width: 30px;
  margin: 10px;
}
.profile-name {
  font-family: 'roboto';
  color: #4f46e5;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 0px;
}
.short-bio {
  font-family: 'roboto';
  color: #64748b;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 0;
}
@media screen and(min-width:576px) {
  .profile-image {
    height: 120px;
    width: 120px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .profile-name {
    font-family: 'roboto';
    color: #4f46e5;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 0px;
  }
  .short-bio {
    font-family: 'roboto';
    color: #64748b;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0;
  }
}
.profile-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.retry-btn {
  background-color: #4f46e5;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  height: 30px;
  width: 60px;
  color: #ffffff;
  border-width: 0;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .retry-btn {
    height: 40px;
    width: 140px;
    margin-top: 30px;
  }
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 100px;
  width: 270px;
  align-self: center;
  margin-left: 20px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .profile-container {
    height: 170px;
    width: 94%;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    margin-top: 25px;
  }
}
